.App {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.choose-piece-modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 35vh;
  left: 32.5%;
  top: 32.5vh;
  background-color: purple;
}
.piece-container{
  display: flex;
}
h3{
  text-align: center;
  font-size: 1.8rem;
}
.modal-image:hover{
  cursor: pointer;
}


.join-game-modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 40vw;
  height: 40vh;
  top: 30vh;
  left: 30vw;
  background-color: green;
}
.win-screen{
  width: 30vw;
  height: 30vh;
  background-color: royalblue;
  color: white;
  z-index: 20;
  position: fixed;
  top: 35vh;
  left: 35vh;
}

.connection-failed-modal-container{
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 40vh;
  left: 40vw;
  background-color: cadetblue;
}

.waiting-modal-container{
  position: fixed;
  width: 30vw;
  height: 30vh;
  top: 35vh;
  left: 35vw;
  background-color: whitesmoke;
  color: black;
}

@media screen and (max-width: 950px) {
  .join-game-modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 70vw;
    height: 60vh;
    top: 15vh;
    left: 15vw;
    background-color: green;
  }

}