.center-modal-container{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.modal{
    background-color: #2B2E31;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.modal-button{
    background-color: #D9D9D9;
    width: 100%;
    padding: 1rem;
    margin-top: 5%;
}

.new-game-modal{
    height: 20vh;
    width: 20vw;
    padding: 5em;
}


.enter-code-modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 40vw;
    height: 40vh;
}
.enter-code-form-label{
    text-align: center;
}



.connection-failed-modal-container{
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: 40vh;
    left: 40vw;
} 
.waiting-modal-container{
    position: fixed;
    width: 30vw;
    height: 30vh;
    /* top: 35vh;
    left: 35vw; */
    text-align: center;
}


.connected-modal{
    width: 30vw;
    height: 30vh;
}
.connected-modal > button{
    width: 80%;
}




.reconnect-modal{
    padding: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
}









@media screen and (max-width: 950px) {
    .enter-code-modal-container{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 60vw !important;
      height: 50vh !important;
    }
    .enter-code-form > input{
        width: 80%;
        font-size: 2rem;
        padding: 0em;
    }
    .enter-code-form > button{
        width: 80%;
    }
    .enter-code-form-label{
        font-size: 2rem;
    }
    .new-game-modal{
        padding: 5em 3em;
    }
    .reconnect-modal{
        padding-bottom: 15%;
    }
    .modal{
        height: 20vh;
        width: 50%;
    }
    .modal-button{
        width: 100%;
        padding: 1.6em;
        font-size: 1.2rem;
    }
    .waiting-modal-container{
        font-size: 2rem;
        margin: 0;
        gap: 0;
        padding: 10%;
    }
}




@media screen and (max-width: 500px) {
    .new-game-modal{
        padding: 5em 3em;
    }
    .modal{
        height: 20vh;
        width: 50%;
    }
    .modal-button{
        width: 100%;
        padding: 1.5em;
        font-size: 1rem;
    }
    .reconnect-modal{
        padding-bottom: 15%;
    }
    .waiting-modal-container{
        height: 40vh;
        width: 70%;
    }
    .connected-modal{
        height: 50vh;
        width: 70%;
    }
    .connected-modal-button{
        width: 80%;
    }
}